<nav class="navbar navbar-light bg-light sticky-top">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="#contact-info">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
      <li class="nav-item"><a class="nav-link" href="#education">Education</a></li>
      <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
      <li class="nav-item"><a class="nav-link" href="#hobbies">Hobbies</a></li>
    </ul>
  </nav>
  