/* You can add global styles to this file, and also import other style files */
header {
    background-color: #f8f9fa;
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  section {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  h2 {
    color: #007bff;
  }
  html {
    scroll-behavior: smooth;
  }
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
